<html>

<head>
  <title>Alfabet Fonetik</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="manifest.json">
  <meta data-hid="description" name="description" content="Sebuah perangkat lunak kecil untuk mengubah nama (atau apapun) menjadi alfabet (dan numeric) fonetik demi kemudahan bertelepon.">
  <meta data-hid="mobile-web-app-capable" name="mobile-web-app-capable" content="yes">
  <meta data-hid="apple-mobile-web-app-title" name="apple-mobile-web-app-title" content="Alfabet Fonetik">
  <meta data-hid="author" name="author" content="jochristianto">
  <meta data-hid="theme-color" name="theme-color" content="#0c5094">
  <meta data-hid="og:type" name="og:type" property="og:type" content="website">
  <meta data-hid="og:title" name="og:title" property="og:title" content="Alfabet Fonetik">
  <meta data-hid="og:site_name" name="og:site_name" property="og:site_name" content="Alfabet Fonetik">
  <meta data-hid="og:description" name="og:description" property="og:description" content="Sebuah perangkat lunak kecil untuk mengubah nama (atau apapun) menjadi alfabet (dan numeric) fonetik demi kemudahan bertelepon.">
  <link rel="shortcut icon" href="logo-128.png">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    input.form-control:focus,
    input.form-control:active,
    button.btn:focus,
    button.btn:active {
      box-shadow: none;
      border-color: #ced4da;
      outline: none;
    }
  </style>
</head>

<body>
  <div class="container" id="v-jc-af">
    <template>
      <div class="py-5 text-center" v-show="!nameFocused &amp;&amp; name.length === 0"><img class="d-block mx-auto mb-4"
          src="logo-128.png" style="width: 72px; height: auto;" />
        <h2>Alfabet Fonetik</h2>
        <p class="lead">Sebuah perangkat lunak kecil untuk mengubah nama (atau apapun) menjadi alfabet (dan numeric)
          fonetik demi kemudahan bertelepon.</p>
      </div>
      <div class="row mb-4" :class="{ 'mt-4': nameFocused || name.length &gt;= 1 }">
        <div class="col-md-12 order-md-1">
          <div class="row">
            <div class="col-md-12 mb-3">
              <label>Nama (atau apapun)</label>
              <div class="input-group mb-3">
                <input class="form-control" type="text" placeholder="Tulis di sini" v-model="name" ref="textName"
                  @focus="nameFocused = true" @blur="nameFocused = false" />
                <div class="input-group-append" v-if="name.length &gt;= 1">
                  <button class="btn btn-info" type="button" @click="clear">&times;</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 order-md-2 mt-4" v-show="name.length &gt;= 1">
          <h4 class="d-flex justify-content-between align-items-center mb-3"><span class="text-muted">Alfabet
              Fonetik</span><span class="badge badge-secondary badge-pill">{{ name.length }}</span></h4>
          <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6 mb-3" v-for="(char, index) in phoneticNames"
              :key="index">
              <button class="btn btn-block text-left text-md-center" :class="buttonClass(index)">{{ char }}</button>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    new Vue({
      el: '#v-jc-af',
      data: {
        name: '',
        nameFocused: false,
        phoneticAlphabets: {
          'A': 'Alfa',
          'B': 'Bravo',
          'C': 'Charlie',
          'D': 'Delta',
          'E': 'Echo',
          'F': 'Foxtrot',
          'G': 'Golf',
          'H': 'Hotel',
          'I': 'India',
          'J': 'Juliet',
          'K': 'Kilo',
          'L': 'Lima',
          'M': 'Mike',
          'N': 'November',
          'O': 'Oscar',
          'P': 'Papa',
          'Q': 'Quebec',
          'R': 'Romeo',
          'S': 'Sierra',
          'T': 'Tango',
          'U': 'Uniform',
          'V': 'Victor',
          'W': 'Whiskey',
          'X': 'Xray',
          'Y': 'Yankee',
          'Z': 'Zulu',
          ' ': 'Spasi',
          '0': 'Kosong',
          '1': 'Satu',
          '2': 'Dua',
          '3': 'Tiga',
          '4': 'Empat',
          '5': 'Lima',
          '6': 'Enam',
          '7': 'Tujuh',
          '8': 'Delapan',
          '9': 'Sembilan',
          '.': 'Titik',
          ',': 'Koma',
          '@': 'At',
          '-': 'Dash',
          '_': 'Underscore'
        }
      },
      computed: {
        phoneticNames() {
          return this.name.split('').map(x => {
            if (typeof this.phoneticAlphabets[x.toUpperCase()] !== 'undefined') {
              return this.phoneticAlphabets[x.toUpperCase()];
            }

            return x;
          });
        },
      },
      methods: {
        buttonClass(index) {
          const variants = 5;
          return {
            'btn-primary': index % variants === 0,
            'btn-success': index % variants === 1,
            'btn-warning': index % variants === 2,
            'btn-secondary': index % variants === 3,
            'btn-danger': index % variants === 4,
          };
        },
        clear() {
          this.name = '';
          this.$refs.textName.focus();
        },
      }
    });
  </script>
</body>

</html>